@import "fonts";
@import "rouge-base16-dark";

body {
  margin: 0;
  padding: 0;
  color: #f0f0e8;
  background: #181818;
  font: 14px/1.5 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-shadow: none;
  font-weight: 100;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 1.5em;
}

h1, h2, h3 {
  line-height: 1.5;
}

h1 {
  font-size: 2.4em;
  color: #f0f0f0
}

h2 {
  font-size: 1.6em;
  color: #e8e8e8;
}

h3 {
  font-size: 1.3em;
  color: #e0e0e0;
}

h4, h5, h6 {
  font-size: 1.2em;
  margin: 0 0 1.0em;
  color: #d8d8d8;
}

button, a {
  color: #ffc000;
  font-weight: 300;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #ffe000;
  }
}

a small {
  display: block;
  font-size: 0.6em;
  color: #666;
  margin-top: -0.6em;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left:3px solid #ffcc00;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color: #efefef;
  font-size: 13px;
  margin: 0;
  padding: 2px;
  border-radius: 10px;
}

pre {
  padding:8px 15px;
  background-color: #242424;
  border-radius: 10px;
  border: 1px solid transparent;
  overflow: auto;
  overflow-y: hidden;

  code {
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
  }
}

table {
  margin: 1.0em 0 1.0em;
  width: 100%;
  border-collapse: collapse;
}

thead {
}

th {
  text-align:left;
  padding:5px 10px;
}

td {
  text-align:left;
  padding:5px 10px;
}

hr {
  border: 1px solid transparent;
  border-bottom: 1px dashed #808080;
  outline: none;
  height: 1px;
  margin: 20px 0;
}

.hrlight {
  border: 1px solid transparent;
  border-bottom: 1px dotted #383838;
  outline: none;
  height: 1px;
  margin: 20px 0;
}

dt {
  color:#F0E7D5;
}

.w100 {
  font-weight: 100;
}

.w300 {
 font-weight: 300; 
}

.w500 {
  font-weight: 500;
}

.w700 {
 font-weight: 700; 
}

.green_text {
  color: green;
}

.red_text {
  color: red;
}

.jumptarget {
  content: "";
  display: block;
  height: 100px; 
  margin-top: -100px; 
}

#nav_checkbox {
  display: none;
}

#nav_bar{
  display: block;

  h2 {
    text-align: center;
    padding: 10px 0 0;
  }
}

#gdprUserConsent {
  position: fixed;
  display: block;
  top: 0;
  height: auto;
  background-color: transparent;
}

#gdprConsentFlow {
  z-index: 1002;
  position: fixed;
  display: block;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, .9);
  color: #000;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, .75);
  font: 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-shadow: none;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100px;

  .consentPopup {
    padding: 10px;
    margin: 0;
    border: 0;
    min-height: 100px;
  }

  p {
    margin: 0;
  }

  h2 {
    color: #000;
    font: 18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
  }

  a {
    font-weight: 500;
    color: #016;
    text-decoration: underline;
  }

  a:hover {
    cursor: pointer;
    color: #049;
  }

  .btn-accept {
    display: block;
    background-color: #049;
    color: #FD0;
    font: 18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    border-radius: 4px;
    line-height: 1.5;
    margin-top: 11px;
    text-decoration: none;
    border: 1px solid #049;
    padding: 3px 8px;
  }

  .btn-accept:hover {
    cursor: pointer;
    border: 1px solid #049;
    background-color: #FD0;
    color: #049;
  }
}

#header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #303030;
  border-right: 2px solid #434343;
  box-shadow: 1px 0px 3px rgba(0,0,0,.25);
  font: 14px/1.5 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-shadow: none;
  font-weight: 300;
  line-height: 1.5;

  #nav-logo {
    display: none;
  }

  #nav-title {
    display: none;
  }

  label {
    display: none;
  }

  label:after {
    display: none;
  }

  nav {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    font-weight: 300;
    min-height: 1px;
    height: 100%;
    overflow: auto;

    #nav_content {
      display: block;
      overflow: hidden;
      min-height: 1px;
      padding: 0 0 28px;

      #logo {
        border-radius: 300px;
        background: url(../../assets/images/amanithvg-logo.png) #fff;
        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: center;
        width: 210px;
        height: 210px;
        margin: 20px auto;
        box-shadow: 0  0 10px rgba(112, 96, 88, 0.66),
                    0  0 15px rgba(112, 96, 88, 0.44),
                    0  0 20px rgba(112, 96, 88, 0.22); 
      }

      #title {
        font-size: 2.4em;
        color: #f0f0f0;
        font-weight: 700;
        padding: 0;
        text-align: center;
      }
    }

    .a_title {
      color: #ffffff;
      text-decoration: none;
    }

    ul {
      width: auto;
      list-style-type: none;
      padding: 5px 20px;
      color: #f0f0f0;    
    }

    li {
      width: 100%;
      display: block;
      color: #fff;
      font-weight: 300;

      &.title {
        font-size: 1.25em;
        float: left;
        margin-top: 10px;
        line-height: 2.5;
        font-weight: 500;
        color: white;
      }

      &.article {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        float: left;
        font-size: 1em;
        padding: 0 10px;
        line-height: 1.75;
      }
      
      &.article:hover {
        background-color: #101010;
      }

      a {
        display: block;
        text-decoration: none;
        color: #e0e0e0;
        font-weight: 300;
      }

      a:hover {
        color: #ffc000;
        text-shadow: 0px 1px 1px rgba(0,0,0,.75);
      }
    }
  }
}

#footer {
  z-index: 100;
  left:0;
  bottom: 0px;
  height: auto;
  width: 100%;
  position: fixed;
  background: #353535;
  border-top: 2px solid #434343;
  box-shadow: 0px -1px 3px rgba(0,0,0,.25);

  nav {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: block;
    max-width: 650px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      margin-right: 8px;
      line-height: 1;
      font-size: 0.8em;
      white-space: nowrap;
    }

    ul {
      margin: -2px 0 2px;
      padding: 0;
    }
  }
}


#landing {

  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 0 8px;
  font-family: "Roboto", sans-serif;

  #logo {
    border-radius: 300px;
    background: url(../assets/images/amanithvg-logo.png) #fff;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 250px;
    margin: 40px auto 20px;
    box-shadow: 0  0 10px rgba(112, 96, 88, 0.66),
                0  0 15px rgba(112, 96, 88, 0.44),
                0  0 20px rgba(112, 96, 88, 0.22); 
  }

  .header-icons {
    display: flex;
    justify-content: center;
    text-align: center;

    .icon {
      text-align: center;
      color: #FFF;
      border-radius: 100%;
      border: 1px solid #FFF;
      transition: all .3s;
      margin: 4px 10px;
      padding: 7px;
      width: 20px;
      height: 20px;
      font-size: 20px;

      &:hover {
        color: #303030;
        background: #FFF;
        box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.34);
      }
      
      &:active {
        color: #303030;
        background: #FFF;
      }
    }
  }

  p {
    color: #d0d0d0;
    text-align: left;
    padding: 8px 2px 0px;
    font-size: 1.1em;
    line-height: 1.66;
  }

  section {
    max-width: 1024px;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: auto;
  }

  h1 {
    text-shadow: 0 -1px 5px #181818;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    border: 0;
    font-size: 3.0em;
    margin: 0.25em auto 0;
    letter-spacing: 1px;
    font-weight: 300;
  }

  h2 {
    text-shadow: 0 -1px 3px #181818;
    color: #f8f8f8;
    text-align: center;
    display: block;
    width: 100%;
    border: 0;
    font-size: 2.3em;
    margin: 0 auto 0.25em;
    font-weight: 100;
  }  

  h3 {
    color: #f0f0f0;
    text-align: center;
    display: block;
    width: 100%;
    border: 0;
    font-size: 1.5em;
    margin: 0.75em auto;
    font-weight: 300;
  }  

  #redbutton {
    display: block;
    border-radius: 6px;
    background-color: #c82820;
    background: linear-gradient(#d83830, #c02018);
    color: #fff;
    font-size: 1.7em;
    font-weight: 500;
    text-shadow: 0 -1px 2px rgba(72, 16, 10, 1.0);
    box-shadow: 0  2px  4px rgba(72, 16, 10, 1.0),
                0  6px  6px rgba(72, 16, 10, 0.4),
                0 10px 14px rgba(72, 16, 10, 0.2); 
    letter-spacing: 1px;
    padding: 4px 10px;
    margin: 5px auto;
    min-width: 200px;
    width: 15%;
    overflow: hidden;
    text-align: center;
  }

  #redbutton:hover, #redbutton:focus {
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(#c02018, #d83830);
  }

  #redbutton:active {
    cursor: pointer;
    background: linear-gradient(#c02018, #d83830);
    box-shadow: 0  1px  4px rgba(72, 16, 10, 1.0),
                0  3px  6px rgba(72, 16, 10, 0.4),
                0  6px 14px rgba(72, 16, 10, 0.2); 
    text-shadow: 0 1px 2px rgba(72, 16, 10, 1.0);
  }

  .usersection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .titlesection {
    font-weight: 500;
    color: #e8e8e8;
    text-align: left;
    width: 100%;
    padding: 0px 2px 4px;
    margin: 0;
    border-bottom: 1px dotted #181818;
    line-height: 2.0;
    font-size: 1.6em;
  }

  #leftsection {
    width: 284px;
    padding: 8px 16px;
    margin: 8px 0;
    color: #d8d8d8;
    font-weight: 300;
    font-size: 1.1em;
  }

  #middlesection {
    width: 284px;
    padding: 8px 16px;
    margin: 8px 38px;
    color: #d8d8d8;
    font-weight: 300;
    font-size: 1.1em;  
  }

  #rightsection {
    width: 284px;
    padding: 8px 16px;
    margin: 8px 0;
    color: #d8d8d8;

    font-weight: 300;
    font-size: 1.1em;
  }

}

.wrapper {

  max-width: 730px;
  margin: 0 auto 0 250px;
  position: relative;
  padding: 0 20px;
  
  section {
    max-width: 730px;
    padding: 0;
    padding-top: 20px;
    margin: auto;
    text-align: left;
    overflow-x: auto;
  }

  h1 {
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  #title {

    h1 {
      margin-top: 0.5em;
      text-align: center;
    }

    p {
      margin-top: -0.5em;
      margin-bottom: 2.0em;
      font-size: 1.334em;
      text-align: center;
    }

    .credits {
      font-size: 11px;
      font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }
  }

  p {
    line-height: 1.5;
    font-size: 1.15em;
    margin-bottom: 0.67em;
  }

  ul, ol {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .ovg_default {
    font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    font-size: 13px;
    margin: 0;
    padding: 2px;
    border-radius: 10px;
    display: contents;
    color: #f0b000;
  }

/*
  .ovg_default:after {
    content: "\25CF";
  }
*/

  .rwd-table {
    border-color: transparent;
    background-color: #242424;
    
    tr {
      border-top: 1px solid #181818;
      min-width: 730px;
    }

    th {
      color: #fff;
      background-color: #d04000;
      text-shadow: 0px 1px 3px #000;
      font-weight: 400;
      border-bottom: 3px solid #181818;
    }

    th, td {
      display: table-cell;
      padding: .25em .5em;
    } 
  }
}

@media screen and (max-width: 975px) {

  #landing {

    max-width: 975px;

    section {
      max-width: 975px;
    }

    h3 {
      font-size: 1.2em;
    }

    p {
      padding: 0 2px;
    }

    #logo {
      border-radius: 200px;
      width: 200px;
      height: 200px;
      margin: 40px auto 25px;
    }

    #redbutton {
      margin: 24px auto;
    }

    .usersection {
      flex-wrap: wrap;
    }

    #leftsection {
      width: auto;
      float: none;
      padding: 8px 16px;
      margin: 60px 0 10px;
    }

    #middlesection {
      width: auto;
      float: none;
      padding: 8px 16px;
      margin: 10px 0;
    }

    #rightsection {
      width: auto;
      float: none;
      padding: 8px 16px;
      margin: 10px 0;
    }

  }

  #header {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    z-index: 100;
    margin-top: -20px;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #434343;
    box-shadow: 0px 1px 3px rgba(0,0,0,.25);

    a {
      color: white;
    }

    a:hover {
      text-decoration: none;
    }

    #nav-logo {
      display: block;
      border-radius: 300px;
      background: url(../../assets/images/amanithvg-logo.png) transparent;
      background-size: 80% 80%;
      background-repeat: no-repeat;
      background-position: center;
      width: 36px;
      height: 36px;
      margin: 22px 4px;
      float: left;
    }

    #nav-title {
      display: block;
      color: white;
      font-size: 1.5em;
      font-weight: 500;
      height: 36px;
      line-height: 36px;
      margin: 23px 4px;
      float: left;
    }

    label {
      display: block;
      margin-top: 24px;
      margin-right: 10px;
      width: 30px;
      height: 22px;
      float: right;
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #303030;
    }

    label:after {
      display: block;
      text-align: center;
      color: #fff;
      content:"\2261";
      font-size: 34px;
      line-height: 34px;
      margin-top: -6px;
    }

    label:hover {
      background-color: rgba(0,0,0,.25);
    }

    #nav_bar {
      z-index: 200;
      display: none;
      background-color: #101010;
      margin-top: 62px;
      width: 40%;
      min-height: 1px;
      height: 100%;
      overflow: scroll;
      min-width: 220px;
      position: fixed;
      right: 0;
      line-height: 1.0;

      #nav_content {
        display: block;
        overflow: hidden;
        min-height: 1px;
        padding: 0 0 200px;

        #title {
          display: none;
        }

        #logo {
          display: none;
        }
      }

      h2 {
        font-size: 1.5em;
        font-weight: 300;
        line-height: 2.0;
        margin: 0;
        padding: 0;
      }

      ul {
        margin-left: 10px;
        padding: 0;
      }

      li {
        line-height: 2.0;
        font-size: 0.825em;
      }

      &.title {
      }

    }

    #nav_checkbox:checked ~ #nav_bar {
      display: block;
    }

  }

  .wrapper {
    max-width: 730px;
    margin: 26px auto;
    position: relative;

    h1 {
      letter-spacing: 0;
      font-size: 2.0em;
    }

    h2 {
      letter-spacing: 0;
      font-size: 1.6em;
    }

    h3 {
      letter-spacing: 0;
      font-size: 1.4em;
    }

    .rwd-table {
      overflow-x: auto;
      margin: 1em 0;
      min-width: 290px; 
        
      tr {
        border-bottom: 10px solid #181818;
      }
      
      th {
        display: none;   
      }
      
      td {
        display: flex;
        border-top: 1px solid #181818;
        text-align: left;
        padding: .12em .24em;
      }
      
      td:before {
        float: left;
        font-weight: 500;
        margin-right: 4px;
        white-space: nowrap;
        color: #fff;
        background-color: #d04000;
        text-shadow: 0px 1px 3px #000;
        font-weight: 400;
        padding: 0 6px;
      }

      code {
        display: contents;
      } 
    }
  }

  .rwd-table-primitiveDataTypes {
    td:before {
      min-width: 100px;
    }
    td:nth-of-type(1):before { content: "Data type name"; }
    td:nth-of-type(2):before { content: "Size"; }
    td:nth-of-type(3):before { content: "Values range"; }
  }

  .rwd-table-handleBasedDataTypes {
    td:before {
      min-width: 100px;
    }
    td:nth-of-type(1):before { content: "Data type name"; }
    td:nth-of-type(2):before { content: "Description"; }
  }

  .rwd-table-errors {
    td:before {
      min-width: 65px;
    }
    td:nth-of-type(1):before { content: "Error code"; }
    td:nth-of-type(2):before { content: "Notes"; }  
  }

  .rwd-table-colorConversions {
    td:before {
      min-width: 65px;
    }
    td:nth-of-type(1):before { content: "Src/Dst"; }
    td:nth-of-type(2):before { content: "lRGB"; }
    td:nth-of-type(3):before { content: "sRGB"; }  
    td:nth-of-type(4):before { content: "lLUM"; }  
    td:nth-of-type(5):before { content: "sLUM"; }  
  }

  .rwd-table-drawingContext {
    td:before {
      min-width: 72px;
    }
    td:nth-of-type(1):before { content: "State"; }
    td:nth-of-type(2):before { content: "Description"; }  
  }

  .rwd-table-contextParameters {
    td:before {
      min-width: 150px;
    }
    td:nth-of-type(1):before { content: "Parameter name"; }
    td:nth-of-type(2):before { content: "Parameter type"; }
    td:nth-of-type(3):before { content: "Possible values / Notes"; }
  }

  .rwd-table-roContextParameters {
    td:before {
      min-width: 105px;
    }
    td:nth-of-type(1):before { content: "Parameter name"; }
    td:nth-of-type(2):before { content: "Parameter type"; }
    td:nth-of-type(3):before { content: "AmanithVG"; }
    td:nth-of-type(4):before { content: "Notes"; }
  }

  .rwd-table-matrixMode {
    td:before {
      min-width: 90px;
    }
    td:nth-of-type(1):before { content: "Matrix mode"; }
    td:nth-of-type(2):before { content: "Type of matrix"; }
  }

  .rwd-table-masking {
    td:before {
      min-width: 100px;
    }
    td:nth-of-type(1):before { content: "Operation"; }
    td:nth-of-type(2):before { content: "Resulting mask"; }
  }

  .rwd-table-pathSegments {
    td:before {
      min-width: 160px;
    }
    td:nth-of-type(1):before { content: "VGPathSegment"; }
    td:nth-of-type(2):before { content: "Coordinates"; }
    td:nth-of-type(3):before { content: "Implicit Points"; }
    td:nth-of-type(4):before { content: "Description (Side Effects)"; }
  }

  .rwd-table-pathParameters {
    td:before {
      min-width: 105px;
    }
    td:nth-of-type(1):before { content: "Parameter name"; }
    td:nth-of-type(2):before { content: "Parameter type"; }
    td:nth-of-type(3):before { content: "Notes"; }
  }

  .rwd-paintParameters {
    td:before {
      min-width: 148px;
    }
    td:nth-of-type(1):before { content: "Parameter name"; }
    td:nth-of-type(2):before { content: "Parameter type"; }
    td:nth-of-type(3):before { content: "Possible values / Notes"; }
  }

  .rwd-imageParameters {
    td:before {
      min-width: 105px;
    }
    td:nth-of-type(1):before { content: "Parameter name"; }
    td:nth-of-type(2):before { content: "Parameter type"; }
    td:nth-of-type(3):before { content: "Possible values"; }
    td:nth-of-type(4):before { content: "Notes"; }
  }

  .rwd-tablePixelCopy {
    td:before {
      min-width: 65px;
    }
    td:nth-of-type(1):before { content: "Src/Dst"; }
    td:nth-of-type(2):before { content: "Memory"; }
    td:nth-of-type(3):before { content: "VGImage"; }
    td:nth-of-type(4):before { content: "Surface"; }
  }

  .rwd-tableFontParameters {
    td:before {
      min-width: 148px;
    }
    td:nth-of-type(1):before { content: "Parameter name"; }
    td:nth-of-type(2):before { content: "Parameter type"; }
    td:nth-of-type(3):before { content: "Possible values / Notes"; }
  }

  .rwd-tableConvolutionParameters {
    td:before {
      min-width: 105px;
    }
    td:nth-of-type(1):before { content: "Parameter name"; }
    td:nth-of-type(2):before { content: "Parameter type"; }
    td:nth-of-type(3):before { content: "Description"; }
  }

  .rwd-tableBlendingEquations {
     td:before {
      min-width: 170px;
    }
    td:nth-of-type(1):before { content: "Blend Mode"; }
    td:nth-of-type(2):before { content: "Color blending function c'()"; }
    td:nth-of-type(3):before { content: "Apha blending function α()"; }
  }

  .rwd-tableVguArc {
    td:before {
      min-width: 72px;
    }
    td:nth-of-type(1):before { content: "Arc Type"; }
    td:nth-of-type(2):before { content: "Description"; }
  }

  .rwd-tableImagesOpenvg {
    td:before {
      min-width: 92px;
    }
    td:nth-of-type(1):before { content: "Format"; }
    td:nth-of-type(2):before { content: "Bytes per pixel"; }
    td:nth-of-type(3):before { content: "Bits per pixel"; }
  }

  .rwd-tableAngleMiter {
    td:before {
      min-width: 65px;
    }
    td:nth-of-type(1):before { content: "Angle"; }
    td:nth-of-type(2):before { content: "Miter limit"; }
  }

  .rwd-tableAlphaEquations {
    td:before {
      min-width: 78px;
    }
    td:nth-of-type(1):before { content: "Blend mode"; }
    td:nth-of-type(2):before { content: "f(Sc, Dc)"; }
    td:nth-of-type(3):before { content: "X"; }
    td:nth-of-type(4):before { content: "Y"; }
    td:nth-of-type(5):before { content: "Z"; }  
  }

  .rwd-tableAlphaEquationsSimplified {
    td:before {
      min-width: 78px;
    }
    td:nth-of-type(1):before { content: "Blend mode"; }
    td:nth-of-type(2):before { content: "Dca'"; }
    td:nth-of-type(3):before { content: "Da'"; }  
  }

  .rwd-tableMaskOperations {
    td:before {
      min-width: 95px;
    }
    td:nth-of-type(1):before { content: "Operation"; }
    td:nth-of-type(2):before { content: "Mask equation"; }
  }

  .rwd-tableImplementationDetails {
    td:before {
      min-width: 100px;
    }
    td:nth-of-type(1):before { content: "OpenVG feature"; }
    td:nth-of-type(2):before { content: "AmanithVG SRE"; }
    td:nth-of-type(3):before { content: "AmanithVG GLE"; }
  }

  .jumptarget {
    content: "";
    display: block;
    height: 80px; /* fixed header height*/
    margin: -80px 0 0; /* negative fixed header height */
  }

}

@media screen and (max-width: 730px) {
  
  #landing {
    max-width: 730px;

    section {
      max-width: 730px;
      min-width: 320px;
    }

    h1 {
      font-size: 5.5vw;
    }

    h2 {
      font-size: 4.5vw;
    }

    h3 {
      font-size: 1.2em;
    }
  }
}

.tbl_images {
  table-layout: fixed;
}

.tbl_images th {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
}

.desc04_conical_gradient_spread th:nth-child(1) {
  background-image: url(../../assets/images/conical_gradient_pad.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_conical_gradient_spread th:nth-child(2) {
  background-image: url(../../assets/images/conical_gradient_repeat.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_conical_gradient_spread th:nth-child(3) {
  background-image: url(../../assets/images/conical_gradient_reflect.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_blend01 th:nth-child(1) {
  background-image: url(../../assets/images/blend_src.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend01 th:nth-child(2) {
  background-image: url(../../assets/images/blend_dst.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend01 th:nth-child(3) {
  background-image: url(../../assets/images/blend_srcover.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend01 th:nth-child(4) {
  background-image: url(../../assets/images/blend_dstover.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend01 th:nth-child(5) {
  background-image: url(../../assets/images/blend_srcin.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend01 th:nth-child(6) {
  background-image: url(../../assets/images/blend_dstin.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend02 th:nth-child(1) {
  background-image: url(../../assets/images/blend_srcout.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend02 th:nth-child(2) {
  background-image: url(../../assets/images/blend_dstout.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend02 th:nth-child(3) {
  background-image: url(../../assets/images/blend_srcatop.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend02 th:nth-child(4) {
  background-image: url(../../assets/images/blend_dstatop.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend02 th:nth-child(5) {
  background-image: url(../../assets/images/blend_clear.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend02 th:nth-child(6) {
  background-image: url(../../assets/images/blend_xor.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend03 th:nth-child(1) {
  background-image: url(../../assets/images/blend_screen.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend03 th:nth-child(2) {
  background-image: url(../../assets/images/blend_multiply.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend03 th:nth-child(3) {
  background-image: url(../../assets/images/blend_difference.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend03 th:nth-child(4) {
  background-image: url(../../assets/images/blend_exclusion.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend03 th:nth-child(5) {
  background-image: url(../../assets/images/blend_additive.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend03 th:nth-child(6) {
  background-image: url(../../assets/images/blend_overlay.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend04 th:nth-child(1) {
  background-image: url(../../assets/images/blend_darken.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend04 th:nth-child(2) {
  background-image: url(../../assets/images/blend_lighten.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend04 th:nth-child(3) {
  background-image: url(../../assets/images/blend_colordodge.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend04 th:nth-child(4) {
  background-image: url(../../assets/images/blend_colorburn.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend04 th:nth-child(5) {
  background-image: url(../../assets/images/blend_hardlight.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_blend04 th:nth-child(6) {
  background-image: url(../../assets/images/blend_softlight.png);
  line-height: 100px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.desc04_separable_blend th {
  background-image: url(../../assets/images/separable_blend_modes.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_smooth_interpolation th:nth-child(1) {
  background-image: url(../../assets/images/smooth_interpolation_linear_gradients.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_smooth_interpolation th:nth-child(2) {
  background-image: url(../../assets/images/linear_interpolation_radial_gradient.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_smooth_interpolation th:nth-child(3) {
  background-image: url(../../assets/images/smooth_interpolation_radial_gradient.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_cap_style th:nth-child(1) {
  background-image: url(../../assets/images/separable_stroke_cap_styles.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_cap_style th:nth-child(2) {
  background-image: url(../../assets/images/separable_stroke_round_square_caps.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_cap_style th:nth-child(3) {
  background-image: url(../../assets/images/separable_stroke_square_round_caps.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_clipping th:nth-child(1) {
  background-image: url(../../assets/images/clip_paths.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_clipping th:nth-child(2) {
  background-image: url(../../assets/images/clip_path_intersection.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.desc04_clipping th:nth-child(3) {
  background-image: url(../../assets/images/clip_path_union.png);
  line-height: 200px;
  @media screen and (max-width: 975px) {
    line-height: 20vw;
  }
}

.tut00_setup001 th {
  background-image: url(../../assets/images/setup-001.png);
  line-height: 311px;
  @media screen and (max-width: 975px) {
    line-height: 31vw;
  }
}

.tut00_setup002 th {
  background-image: url(../../assets/images/setup-002.png);
  line-height: 257px;
  @media screen and (max-width: 975px) {
    line-height: 26vw;
  }
}

.tut00_setup003 th {
  background-image: url(../../assets/images/setup-003.png);
  line-height: 194px;
  @media screen and (max-width: 975px) {
    line-height: 19vw;
  }
}

.tut00_setup004 th {
  background-image: url(../../assets/images/setup-004.png);
  line-height: 256px;
  @media screen and (max-width: 975px) {
    line-height: 26vw;
  }
}

.tut02_grad_matrices th {
  background-image: url(../../assets/images/tut02_grad_matrices_dark.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut02_color_ramp th:nth-child(1) {
  background-image: url(../../assets/images/tut02_pad_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut02_color_ramp th:nth-child(2) {
  background-image: url(../../assets/images/tut02_repeat_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut02_color_ramp th:nth-child(3) {
  background-image: url(../../assets/images/tut02_reflect_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut02_color_ramp_interpolation th:nth-child(1) {
  background-image: url(../../assets/images/tut02_pad_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut02_color_ramp_interpolation th:nth-child(2) {
  background-image: url(../../assets/images/tut02_smooth_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut03_grad_func th {
  background-image: url(../../assets/images/tut03_radgrad_func_dark.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut03_grad_matrices th {
  background-image: url(../../assets/images/tut03_radgrad_matrices_dark.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut03_color_ramp th:nth-child(1) {
  background-image: url(../../assets/images/tut03_pad_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut03_color_ramp th:nth-child(2) {
  background-image: url(../../assets/images/tut03_repeat_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut03_color_ramp th:nth-child(3) {
  background-image: url(../../assets/images/tut03_reflect_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut03_color_ramp_interpolation th:nth-child(1) {
  background-image: url(../../assets/images/tut03_pad_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut03_color_ramp_interpolation th:nth-child(2) {
  background-image: url(../../assets/images/tut03_smooth_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut04_congrad_func th {
  background-image: url(../../assets/images/tut04_congrad_func_dark.png);
  line-height: 270px;
  @media screen and (max-width: 975px) {
    line-height: 27vw;
  }
}

.tut04_congrad_gradfunc th {
  background-image: url(../../assets/images/tut04_congrad_gradfunc.png);
  line-height: 80px;
  @media screen and (max-width: 975px) {
    line-height: 16vw;
  }
}

.tut04_congrad_matrices th {
  background-image: url(../../assets/images/tut04_congrad_matrices_dark.png);
  line-height: 270px;
  @media screen and (max-width: 975px) {
    line-height: 27vw;
  }
}

.tut04_congrad_repeats th:nth-child(1) {
  background-image: url(../../assets/images/tut04_pad_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut04_congrad_repeats th:nth-child(2) {
  background-image: url(../../assets/images/tut04_repeat_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut04_congrad_repeats th:nth-child(3) {
  background-image: url(../../assets/images/tut04_reflect_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut04_congrad_repnum th:nth-child(1) {
  background-image: url(../../assets/images/tut04_one_rep_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut04_congrad_repnum th:nth-child(2) {
  background-image: url(../../assets/images/tut04_two_rep_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut04_congrad_repnum th:nth-child(3) {
  background-image: url(../../assets/images/tut04_three_rep_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut04_congrad_interpolation th:nth-child(1) {
  background-image: url(../../assets/images/tut04_pad_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut04_congrad_interpolation th:nth-child(2) {
  background-image: url(../../assets/images/tut04_smooth_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut05_pattern_matrices th {
  background-image: url(../../assets/images/tut05_pattern_matrices_dark.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut05_pattern_image th {
  background-image: url(../../assets/images/tut05_pattern_image_dark.png);
  line-height: 64px;
}

.tut05_tile_fill th {
  background-image: url(../../assets/images/tut05_fill_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut05_tile_pad th {
  background-image: url(../../assets/images/tut05_pad_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut05_tile_repeat th {
  background-image: url(../../assets/images/tut05_repeat_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut05_tile_reflect th {
  background-image: url(../../assets/images/tut05_reflect_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut06_stroke_parameters th {
  background-image: url(../../assets/images/tut06_stroke_parameters_dark.png);
  line-height: 400px;
  @media screen and (max-width: 975px) {
    line-height: 40vw;
  }
}

.tut06_cap_styles th {
  background-image: url(../../assets/images/tut06_cap_styles_dark.png);
  line-height: 307px;
  @media screen and (max-width: 975px) {
    line-height: 31vw;
  }
}

.tut06_join_styles th {
  background-image: url(../../assets/images/tut06_join_styles_dark.png);
  line-height: 283px;
  @media screen and (max-width: 975px) {
    line-height: 28vw;
  }
}

.tut06_dashing th {
  background-image: url(../../assets/images/tut06_dashing_dark.png);
  line-height: 437px;
  @media screen and (max-width: 975px) {
    line-height: 44vw;
  }
}

.tut06_solid_stroke th {
  background-image: url(../../assets/images/tut06_solid_stroke_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut06_stroke_ext th {
  background-image: url(../../assets/images/tut06_stroke_ext_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut07_src_over th {
  background-image: url(../../assets/images/tut07_src_over_dark.png);
  line-height: 384px;
  @media screen and (max-width: 975px) {
    line-height: 39vw;
  }
}

.tut07_images th:nth-child(1) {
  background-image: url(../../assets/images/tut07_src_image_dark.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut07_images th:nth-child(2) {
  background-image: url(../../assets/images/tut07_dst_image_dark.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut07_dst_atop th {
  background-image: url(../../assets/images/tut07_dst_atop_dark.png);
  line-height: 384px;
  @media screen and (max-width: 975px) {
    line-height: 39vw;
  }
}

.tut08_prj_matrix th {
  background-image: url(../../assets/images/tut08_prj_matrix.png);
  line-height: 80px;
  @media screen and (max-width: 975px) {
    line-height: 16vw;
  }
}

.tut08_prj_transform th {
  background-image: url(../../assets/images/tut08_prj_transform.png);
  line-height: 60px;
  @media screen and (max-width: 975px) {
    line-height: 12vw;
  }
}

.tut08_warp_quad_to_square th {
  background-image: url(../../assets/images/tut08_warp_quad_to_square_dark.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut08_warp_square_to_quad th {
  background-image: url(../../assets/images/tut08_warp_square_to_quad_dark.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut08_warp_quad_to_quad th {
  background-image: url(../../assets/images/tut08_warp_quad_to_quad_dark.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut08_original_image th {
  background-image: url(../../assets/images/tut08_original_image.png);
  line-height: 410px;
  @media screen and (max-width: 975px) {
    line-height: 41vw;
  }
}

.tut08_warp_example th:nth-child(1) {
  background-image: url(../../assets/images/tut08_image_warp1.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut08_warp_example th:nth-child(2) {
  background-image: url(../../assets/images/tut08_image_warp2.png);
  line-height: 300px;
  @media screen and (max-width: 975px) {
    line-height: 30vw;
  }
}

.tut09_glyph_metrics th {
  background-image: url(../../assets/images/tut09_glyph_metrics_dark.png);
  line-height: 325px;
  @media screen and (max-width: 975px) {
    line-height: 32vw;
  }
}

.tut09_glyph_kerning th {
  background-image: url(../../assets/images/tut09_glyph_kerning_dark.png);
  line-height: 375px;
  @media screen and (max-width: 975px) {
    line-height: 37vw;
  }
}

.tut09_trajectories th {
  background-image: url(../../assets/images/tut09_trajectories_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut09_straight_text th {
  background-image: url(../../assets/images/tut09_straight_text_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut09_wavy_text th {
  background-image: url(../../assets/images/tut09_wavy_text_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut09_screenshot th {
  background-image: url(../../assets/images/tut09_screenshot_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut10_ship th {
  background-image: url(../../assets/images/tut10_ship_dark.png);
  line-height: 512px;
  @media screen and (max-width: 975px) {
    line-height: 51vw;
  }
}

.tut10_spot th:nth-child(1) {
  background-image: url(../../assets/images/tut10_spot1_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut10_spot th:nth-child(2) {
  background-image: url(../../assets/images/tut10_spot2_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut10_masks th:nth-child(1) {
  background-image: url(../../assets/images/tut10_cloud_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut10_masks th:nth-child(2) {
  background-image: url(../../assets/images/tut10_star_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut10_maskop th:nth-child(1) {
  background-image: url(../../assets/images/tut10_union_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut10_maskop th:nth-child(2) {
  background-image: url(../../assets/images/tut10_intersection_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut10_maskop th:nth-child(3) {
  background-image: url(../../assets/images/tut10_subtraction_dark.png);
  line-height: 250px;
  @media screen and (max-width: 975px) {
    line-height: 25vw;
  }
}

.tut10_cloud th:nth-child(1) {
  background-image: url(../../assets/images/tut10_cloud_spot_intersection_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.tut10_cloud th:nth-child(2) {
  background-image: url(../../assets/images/tut10_cloud_star_subtraction_dark.png);
  line-height: 350px;
  @media screen and (max-width: 975px) {
    line-height: 35vw;
  }
}

.matrix_transform th {
  background-image: url(../../assets/images/matrix_transform.png);
  line-height: 80px;
  @media screen and (max-width: 975px) {
    line-height: 16vw;
  }
}

.color_xyz_to_linear th {
  background-image: url(../../assets/images/color_xyz_to_linear.png);
  line-height: 60px;
  @media screen and (max-width: 975px) {
    line-height: 9vw;
  }
}

.color_srgb_eq th {
  background-image: url(../../assets/images/color_srgb_eq.png);
  line-height: 150px;
  @media screen and (max-width: 975px) {
    line-height: 22vw;
  }
}

.color_lrgb_to_srgb th {
  background-image: url(../../assets/images/color_lrgb_to_srgb.png);
  line-height: 70px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.color_srgb_to_lrgb th {
  background-image: url(../../assets/images/color_srgb_to_lrgb.png);
  line-height: 70px;
  @media screen and (max-width: 975px) {
    line-height: 10vw;
  }
}

.color_lrgb_to_lum th {
  background-image: url(../../assets/images/color_lrgb_to_lum.png);
  line-height: 50px;
  @media screen and (max-width: 975px) {
    line-height: 7vw;
  }
}

.color_lum_conversions th {
  background-image: url(../../assets/images/color_lum_conversions.png);
  line-height: 50px;
  @media screen and (max-width: 975px) {
    line-height: 7vw;
  }
}

.color_lum_to_srgb th {
  background-image: url(../../assets/images/color_lum_to_srgb.png);
  line-height: 14px;
  @media screen and (max-width: 975px) {
    line-height: 2vw;
  }
}

