---
layout: compress
---
<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{site.product_name}} | {{ page.categories }} | {{ page.title }}</title>
    <link rel="canonical" href="{{site.url}}{{page.url}}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description" content="{{site.product_name}} | {{ page.categories }} | {{ page.title }}">

    <!-- Facebook metadata -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{site.product_name}} | {{ page.categories }} | {{ page.title }}"/>
    <meta property="og:description" content="{{ page.headline }}"/>
    <meta property="og:url" content="{{site.url}}{{page.url}}"/>
    <meta property="og:image" content="{{site.url}}/assets/images/{{page.image}}"/>
    <meta property="fb:admins" content="749371588"/>

    {% assign wordcount = page.content | number_of_words %}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "TechArticle",
      "url": "{{site.url}}{{page.url}}",
      "keywords": "{{page.keywords}}",
      "wordCount":"{{ wordcount }}",
      "headline": "{{page.headline}}",
      "articleBody":"{{ page.content | strip_html | xml_escape | normalize_whitepace | strip }}",
      "image": "{{site.url}}/assets/images/{{page.image}}",
      "copyrightHolder": {
        "@type": "Organization",
        "legalName": "{{site.company_name_ext}}"
      },      
      "creator": {
        "@type": "Organization",
        "legalName": "{{site.company_name_ext}}"
      }
    }
    </script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <style amp-custom>
      {% capture criticalcss %}
      {% include amanithvg.scss %}
      {% endcapture %}
      {{ criticalcss | scssify }}
    </style>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
  </head>

  <body>

    <div id="header">

      <a href="{{ site.url }}"><div id="nav-logo"></div></a>
      <div id="nav-title"><a class="a_title" href="{{ site.url }}">{{ site.product_name }}</a></div>

      <input id="nav_checkbox" type="checkbox">
      <label for="nav_checkbox"></label>
      
      <nav id="nav_bar">
        <div id="nav_content">
          <a href="{{ site.url }}"><div id="logo"></div></a>
          <div id="title"><a class="a_title" href="{{ site.url }}">{{ site.product_name }}</a></div>
          {% include header.html %}
        </div>
      </nav>

    </div><!-- end header -->   

    <div id="footer">
      <nav>
        <ul>
          <li>{{ site.copyright }}</li>
          <li>{{ site.vatid }}</li>
          <li>{{ site.rights }}</li>
        </ul>
      </nav>
    </div>

    <div class="wrapper">

      <section id="docs">
        {{ content }}
      </section>

    </div>

    {% if site.google_analytics %}
    <amp-analytics type="googleanalytics">
      <script type="application/json">
        {
          "vars": {
            "account": "{{ site.google_analytics }}"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
      </script>
    </amp-analytics>
    {% endif %}
  </body>
</html>
